.button {
  min-width: 60px;
  padding-inline: 10px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  background-color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
