@use 'src/styles/utils';

.mapItem {
  position: relative;
  flex-shrink: 0;
  width: 80px;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  &--selected {
    filter: opacity(50%);
  }
}

.mapContainer {
  display: inline-block;
  cursor: pointer;
  @include utils.absolutelyCentered;
}
