$thumbColor: gray;
$trackColor: lightgray;

* {
  scrollbar-color: $thumbColor $trackColor;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: $trackColor;
}

::-webkit-scrollbar-thumb {
  background: $thumbColor;
  -webkit-border-radius: 1ex;
}
