.container {
  background-color: black;
  padding: 30px;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.actions {
  display: flex;
  gap: 5px;
}

.items {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.item {
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 10px;

  &--selected {
    filter: none;
    background-color: gold;
  }
}
