@use 'src/styles/menu';

.container {
  flex-shrink: 0;
  padding-inline: 30px;
  display: flex;
  height: 80px;
  gap: 20px;
  background-color: menu.$menuColor;
}

.modeButton {
  align-self: center;
}

.maps {
  flex: 1;
  display: flex;
  gap: 5px;
  overflow-x: auto;
}

.map {
  flex-shrink: 0;
  width: 80px;
  background-color: sandybrown;

  &--selected {
    background-color: darkblue;
  }
}

.mapButton {
  width: 100%;
  height: 100%;
  background-color: inherit;
}
